<div class="login-wrapper">
    <p-card header="Bienvenue" subheader="Connectez-vous à votre compte" [style]="{ width: '100%', maxWidth: '400px' }">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
            <p-floatLabel>
                <p-iconField>
                    <p-inputIcon styleClass="pi pi-envelope" />
                    <input pInputText id="email" [(ngModel)]="loginData.email" name="email" required email class="w-full" />
                </p-iconField>
                <label for="email">Email</label>
            </p-floatLabel>

            <p-floatLabel>
                <p-password id="password" [(ngModel)]="loginData.password" name="password" [toggleMask]="true"
                    [feedback]="false" styleClass="w-full" inputStyleClass="w-full" required>
                    <ng-template pTemplate="header">
                        <h6>Mot de passe</h6>
                    </ng-template>
                </p-password>
                <label for="password">Mot de passe</label>
            </p-floatLabel>

            <p-button label="Se connecter" type="submit" [disabled]="!loginForm.form.valid" styleClass="w-full"></p-button>

            <div class="footer-link">
                <p>Pas encore de compte ? <a routerLink="/register">S'inscrire</a></p>
            </div>
        </form>
    </p-card>
</div>